binds {
    // Keys consist of modifiers separated by + signs, followed by an XKB key name
    // in the end. To find an XKB name for a particular key, you may use a program
    // like wev.
    //
    // "Mod" is a special modifier equal to Super when running on a TTY, and to Alt
    // when running as a winit window.
    //
    // Most actions that you can bind here can also be invoked programmatically with
    // `niri msg action do-something`.

    // Mod-Shift-/, which is usually the same as Mod-?,
    // shows a list of important hotkeys.
    Mod+Shift+Slash { show-hotkey-overlay; }

    // Application launchers
    Mod+T { spawn "kitty"; }
    Mod+B { spawn "firefox"; }
    Mod+R { spawn "okular"; }
    Mod+E { spawn "dolphin"; }
    Mod+Period { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "launcher" "emoji"; }
    /- Mod+V { spawn-sh "cliphist list | wofi --dmenu | cliphist decode | wl-copy"; }
    Alt+Space hotkey-overlay-title="Application Launcher" {
        spawn "qs" "-c" "noctalia-shell" "ipc" "call" "launcher" "toggle";
    }
    Mod+V hotkey-overlay-title="Clipboard Manager" {
        spawn "qs" "-c" "noctalia-shell" "ipc" "call" "launcher" "clipboard"; 
    }
    Mod+Comma hotkey-overlay-title="Settings" {
        spawn "qs" "-c" "noctalia-shell" "ipc" "call" "settings" "toggle";
    }
    Mod+N hotkey-overlay-title="Notification Center" {
        spawn "qs" "-c" "noctalia-shell" "ipc" "call" "notifications" "toggleHistory";
    }
    Mod+Shift+I { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "bar" "toggle"; }

    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    // Window management
    Mod+Q repeat=false { close-window; }
    Mod+X repeat=false { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "sessionMenu" "toggle"; }
    Ctrl+Alt+Delete { quit; }
    Mod+Shift+P { power-off-monitors; }
    Mod+Alt+L hotkey-overlay-title="Lock Screen" {
        spawn "qs" "-c" "noctalia-shell" "ipc" "call" "lockScreen" "lock";
    }

    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }

    Mod+W       { toggle-window-floating; }
    Mod+Shift+W { switch-focus-between-floating-and-tiling; }

    Mod+G { toggle-column-tabbed-display; }

    Mod+O repeat=false { toggle-overview; }

    // Finer width adjustments.
    // Pixel sizes use logical, or scaled, pixels. I.e. on an output with scale 2.0,
    // set-column-width "100" will make the column occupy 200 physical screen pixels.
    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }

    // Finer height adjustments when in column with other windows.
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }
    // Expand the focused column to space not taken up by other fully visible columns.
    // Makes the column "fill the rest of the space".
    Mod+Ctrl+F { expand-column-to-available-width; }

    // Change focused window
    Mod+H { focus-window-down-or-column-left; }
    Mod+L { focus-window-up-or-column-right; }
    Mod+K { focus-window-or-workspace-up; }
    Mod+J { focus-window-or-workspace-down; }

    // Move window in the same workspace
    Mod+Shift+H { swap-window-left; }
    Mod+Shift+L { swap-window-right; }
    Mod+Shift+K { move-window-up-or-to-workspace-up; } 
    Mod+Shift+J { move-window-down-or-to-workspace-down; }

    // Move windows into different workspaces
    Mod+Shift+1 { move-window-to-workspace 1; }
    Mod+Shift+2 { move-window-to-workspace 2; }
    Mod+Shift+3 { move-window-to-workspace 3; }
    Mod+Shift+4 { move-window-to-workspace 4; }
    Mod+Shift+5 { move-window-to-workspace 5; }
    Mod+Shift+6 { move-window-to-workspace 6; }
    Mod+Shift+7 { move-window-to-workspace 7; }
    Mod+Shift+8 { move-window-to-workspace 8; }
    Mod+Shift+9 { move-window-to-workspace 9; }
    Mod+Shift+0 { move-window-to-workspace 10; }

    // Change focused workspace
    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+0 { focus-workspace 10; }
    Mod+Ctrl+K      { focus-workspace-up; }
    Mod+Ctrl+J      { focus-workspace-down; }
    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

    Mod+Tab { focus-workspace-previous; }

    // Move column to different workspace
    Mod+Ctrl+1 { move-column-to-workspace 1; }
    Mod+Ctrl+2 { move-column-to-workspace 2; }
    Mod+Ctrl+3 { move-column-to-workspace 3; }
    Mod+Ctrl+4 { move-column-to-workspace 4; }
    Mod+Ctrl+5 { move-column-to-workspace 5; }
    Mod+Ctrl+6 { move-column-to-workspace 6; }
    Mod+Ctrl+7 { move-column-to-workspace 7; }
    Mod+Ctrl+8 { move-column-to-workspace 8; }
    Mod+Ctrl+9 { move-column-to-workspace 9; }


    // Consume one window from the right to the bottom of the focused column.
    // Mod+Comma  { consume-window-into-column; }
    // Expel the bottom window from the focused column to the right.
    // Mod+Period { expel-window-from-column; }

    // Mod+R { switch-preset-column-width; }
    // Cycling through the presets in reverse order is also possible.
    // Mod+R { switch-preset-column-width-back; }
    Mod+Shift+R { switch-preset-window-height; }
    Mod+Ctrl+R { reset-window-height; }

    Mod+C { center-column; }

    // Center all fully visible columns on screen.
    Mod+Ctrl+C { center-visible-columns; }

    // Actions to switch layouts.
    // Note: if you uncomment these, make sure you do NOT have
    // a matching layout switch hotkey configured in xkb options above.
    // Having both at once on the same hotkey will break the switching,
    // since it will switch twice upon pressing the hotkey (once by xkb, once by niri).
    // Mod+Space       { switch-layout "next"; }
    // Mod+Shift+Space { switch-layout "prev"; }

    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    // Media control
    XF86AudioRaiseVolume allow-when-locked=true  \
      { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.05+" "-l" "1.0"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.05-"; }
    XF86AudioMute        allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }

    // This will work with any MPRIS-enabled media player.
    XF86AudioPlay        allow-when-locked=true { spawn "playerctl" "play-pause"; }
    XF86AudioStop        allow-when-locked=true { spawn "playerctl" "stop"; }
    XF86AudioPrev        allow-when-locked=true { spawn "playerctl" "previous"; }
    XF86AudioNext        allow-when-locked=true { spawn "playerctl" "next"; }

    XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+5%"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "5%-"; }
}

