// Window rules let you adjust behavior for individual windows.
// Find more information on the wiki:
// https://yalter.github.io/niri/Configuration:-Window-Rules

// Work around WezTerm's initial configure bug
// by setting an empty default-column-width.
window-rule {
    // This regular expression is intentionally made as specific as possible,
    // since this is the default config, and we want no false positives.
    // You can get away with just app-id="wezterm" if you want.
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}

// Open the Firefox picture-in-picture player as floating by default.
window-rule {
    // This app-id regular expression will work for both:
    // - host Firefox (app-id is "firefox")
    // - Flatpak Firefox (app-id is "org.mozilla.firefox")
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}


// Fixed Workspace Assignments (btop, qemu, mame)
window-rule {
    match title="btop"
    open-on-workspace "btop"
    open-maximized true
}

window-rule {
    match app-id="qemu"
    match app-id="mame"
    open-on-workspace "tool"
    open-maximized true
}

window-rule {
    match app-id="org.telegram.desktop"
    open-on-workspace "chat"
    open-maximized true
}

// Emoji Picker (Floating & Centered)
window-rule {
    match app-id="^org.kde.plasma.emojier$"
    open-floating true
    // Niri centers floating windows by default, 
    // but you can set a specific size if it looks tiny:
    default-column-width { proportion 0.75; }
    default-window-height { fixed 400; }
}

window-rule {
    match app-id="^WebApp.*"
    match app-id="firefox"
    match app-id="org.kde.okular"
    
    opacity 1.0
    open-on-workspace "browser"
}

// Open DMS windows as floating by default
window-rule {
    match app-id=r#"org.quickshell$"#
    open-floating true
}

// Example: block out two password managers from screen capture.
// (This example rule is commented out with a "/-" in front.)
window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#

    block-out-from "screen-capture"

    // Use this instead if you want them visible on third-party screenshot tools.
    // block-out-from "screencast"
}

// Example: enable rounded corners for all windows.
// (This example rule is commented out with a "/-" in front.)
/-window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
}


