[submodule "stow/kitty/.config/kitty/kitty-themes"]
	path = stow/kitty/.config/kitty/kitty-themes
	url = https://github.com/dexpota/kitty-themes.git
[submodule "stow/wallpapers/usr/share/wallpapers/ArchPapers"]
	path = stow/wallpapers/usr/share/wallpapers/ArchPapers
	url = https://github.com/connorslade/ArchPapers
[submodule "stow/wallpapers/usr/share/wallpapers/Nord"]
	path = stow/wallpapers/usr/share/wallpapers/Nord
	url = https://github.com/dxnst/nord-backgrounds
