BasedOnStyle: Microsoft
Language: Cpp

IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 0

BreakBeforeBraces: Attach

PointerAlignment: Left
ReferenceAlignment: Middle

AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: false

BreakConstructorInitializers: BeforeComma

SpaceAfterCStyleCast: false
SpacesInAngles: false
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpacesInSquareBrackets: false

SortIncludes: true
IncludeBlocks: Preserve

AlignOperands: AlignAfterOperator
AlignConsecutiveAssignments: None
AlignConsecutiveDeclarations: None
AlignConsecutiveMacros: None

ReflowComments: true

