BasedOnStyle: Microsoft
Language: Cpp

IndentWidth: 4
IndentCaseLabels: true
TabWidth: 4
UseTab: Always
ColumnLimit: 0

BreakBeforeBraces: Attach

PointerAlignment: Right
ReferenceAlignment: Left

AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: false

BreakConstructorInitializers: BeforeComma

SpaceAfterCStyleCast: false
SpacesInAngles: false
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpacesInSquareBrackets: false

SortIncludes: true
IncludeBlocks: Preserve

AlignOperands: AlignAfterOperator
AlignConsecutiveAssignments: None
AlignConsecutiveDeclarations: None
AlignConsecutiveMacros: None

ReflowComments: true

