folder-hook 'imaps://infra@nerdio\.app@mail\.nerdio\.app(:993)?/' 'set real_name="Nerdio Infrastructure" from="infra@nerdio.app" folder="imaps://infra@nerdio.app@mail.nerdio.app:993/" spoolfile="+INBOX" postponed="+Drafts" record="+Sent" trash="+Trash" smtp_url="smtps://infra@nerdio.app@mail.nerdio.app:465/"'
folder-hook 'imaps://support@nerdio\.app@mail\.nerdio\.app(:993)?/' 'set real_name="Nerdio Support" from="support@nerdio.app" folder="imaps://support@nerdio.app@mail.nerdio.app:993/" spoolfile="+INBOX" postponed="+Drafts" record="+Sent" trash="+Trash" smtp_url="smtps://support@nerdio.app@mail.nerdio.app:465/"'
