# Portable Nord theme using the terminal's ANSI palette.
# Foot, Kitty and WezTerm all define slots 0-15 as Nord. `default` preserves
# each terminal's configured background colour and transparency.
color normal                   default default
color tilde                    color8 default
color status                   color15 color0
color indicator                bold color0 color6
color tree                     color4 default
color message                  color5 default
color warning                  color3 default
color error                    bold color15 color1
color prompt                   bold color6 default
color options                  bold color3 default
color progress                 color0 color4
color markers                  color3 default
color search                   color0 color3
color attachment               bold color6 default
color bold                     bold color15 default
color underline                underline color4 default
color signature                color8 default

# Sidebar
color sidebar_background       default default
color sidebar_divider          color8 default
color sidebar_ordinary         default default
color sidebar_spool_file       bold color4 default
color sidebar_new              bold color6 default
color sidebar_unread           color4 default
color sidebar_flagged          bold color3 default
color sidebar_highlight        color15 color0
color sidebar_indicator        bold color0 color6

# Message index
color index                    default default "~A"
color index                    color8 default "~R"
color index                    bold color15 default "~N"
color index                    bold color6 default "~U"
color index                    color5 default "~Q"
color index                    bold color3 default "~F"
color index                    color5 default "~T"
color index                    color1 default "~D"
color index_author             color4 default
color index_date               color8 default
color index_flags              color4 default
color index_number             color12 default
color index_subject            default default
color index_collapsed          color5 default

# Pager headers and message body
color hdrdefault               color4 default
color header                   bold color4 default "^(From|To|Cc|Bcc):"
color header                   bold color15 default "^Subject:"
color header                   color8 default "^Date:"
color quoted                   color4 default
color quoted1                  color4 default
color quoted2                  color5 default
color quoted3                  color12 default
color body                     color6 default "(https?|ftp)://[^[:space:]<>]+"
color body                     color5 default "[[:alnum:]._%+-]+@[[:alnum:].-]+\\.[[:alpha:]]{2,}"

# Compose screen
color compose_header           bold color6 default
color compose_security_none    color8 default
color compose_security_sign    color5 default
color compose_security_encrypt color4 default
color compose_security_both    bold color4 default
