[Desktop Entry]
Type=Application
Name=NeoMutt
Comment=Terminal email client
Exec=kitty --class neomutt -e neomutt %u
Icon=mail-unread-symbolic
Terminal=false
Categories=Network;Email;
MimeType=x-scheme-handler/mailto;message/rfc822;
