{% extends "base.conf.j2" %}

{% block custom_locations %}
	location / {
		proxy_pass $upstream;

		proxy_set_header Host $host;
		proxy_set_header X-Real-IP $remote_addr;
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

		# Essential for Nextcloud to detect HTTPS
		proxy_set_header X-Forwarded-Proto $scheme;
		proxy_set_header X-Forwarded-Ssl on;
		proxy_set_header Front-End-Https on;

		# Fix for webdav/CalDav/CardDav issues
		proxy_set_header Depth "infinity";
	}

{% endblock custom_locations %}
